@import "tailwindcss";

:root {
    --header-height: calc(var(--spacing) * 16);
    --viewport-height: calc(100svh - var(--header-height));
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

a {
    font-weight: bold;
}


/* Used to overlay backdrops to put focus on the main hero content. */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 60% opacity */
}
/* Content that has been covered by the overlay. */
.hero-overlain-content {
    z-index: 0;
}
/* Content on top of the overlay. */
.hero-on-top {
    z-index: 2;
}