---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='404'>
    <div class="flex align-middle justify-center items-center">
        <p class="font-extrabold text-3xl" style="font-size: xxx-large;">404 Not Found</p>
    </div>
</BaseLayout>
